@{
    ViewBag.Title = "User Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome, @Session["Username"]!</h2>

<div>
    <ul>
        <li>@Html.ActionLink("View Medicines", "ViewMedicines")</li>
        <li>@Html.ActionLink("Request Medicine", "RequestMedicine")</li>
    </ul>
</div>
